{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": "last 2 versions, > 5%"
        }
      }
    ],
    "next/babel",
    "stage-0"
  ],
  "plugins": ["transform-class-properties", "transform-decorators-legacy"]
}
